@import '../../app-core/variables.css';
@import '../../app-core/buttons.css';

/* makes the button look exactly like Crisp's button, which will be loaded conditionally */
.lazy-chat__open-button {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  padding: 0;
  margin-right: -1px;
  margin-bottom: -1px;
  position: relative;
}

/* overwrite Crips's chat icon styles */
.lazy-chat__open-button:before {
  content: '';
  display: inline-block;
  margin-left: 0;
  margin-bottom: -6px;
  width: 32px;
  height: 26px;
  background-image: url("/images/chat-bubble.svg");
  background-position: center !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}

/* makes the button look exactly like Crisp's button, which will be loaded conditionally */
@media screen and (min-width: 560px) {
  .lazy-chat__open-button {
    width: 60px;
    height: 60px;
    margin-right: 8px;
    margin-bottom: 4px;
  }

  .lazy-chat__open-button:before {
    margin-left: -2px;
    margin-bottom: -6px;
    width: 33px;
    height: 28px;
  }
}

/* hides chat icon if button is loading */
.lazy-chat__open-button--pending:before {
  display: none;
}

/* show's spinner instead of chat icon if button is loading */
.lazy-chat__open-button--pending:after {
  animation: button__spinner 2s linear infinite; /* uses animation defined on buttons.css */
  background-image: url('/images/spinner.png');
  content: '';
  display: inline-block;
  width: 32px;
  height: 32px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* replaces crisp's chat bubble icon */
#crisp-chatbox[data-last-operator-face="false"] span[data-is-ongoing="false"] {
  background-image: url('/images/chat-bubble.svg') !important;
}

/* replaces crisp's chat button background color */
#crisp-chatbox > div > a > span:last-child {
  background-color: var(--action-color) !important;
}
