{% import '../smart-link/smart-link.njk.html' as smartLink %}
{% import '../language-selector/language-selector.njk.html' as languageSelector %}

  <header role="banner" class="app-header">
    <a href="/{{ locale }}" class="app-header__identity">
      <img class="app-header__logo" src="/images/logo.svg" alt="" width="32" height="40" />
      <p class="app-header__title">{{ page.title }}<br>
        {% if page.subtitle %}
          <span class="app-header__subtitle">{{ page.subtitle }}</span>
        {% endif %}
      </p>
    </a>

    <nav class="app-header__menu" id="mainmenu">
      <ul class="app-header__menu-list">
        {% for item in menu[locale].items %}
        <li class="app-header__menu-item">
          {{ smartLink.render(item, locale, class = "app-header__menu-link") }}
        </li>
        {% endfor %}
      </ul>
      {% if menu[locale].callToAction %}
        {{ smartLink.render(
          menu[locale].callToAction,
          locale,
          class="button button--primary app-header__button app-header__button--desktop") }}
      {% endif %}
      {{ languageSelector.render(locales, page.slug, locale)}}
    </nav>

    <span class="app-header__button-on-mobile">
      {% if menu[locale].callToAction %}
        {% include '../smart-link/smart-link.njk.html' %}
      {% endif %}
    </span>

    <button class="app-header__menu-button">
      <span v-if="menuIsOpen" class="a11y-sr-only">{{ 'close_menu' | t }}</span>
      <span v-else class="a11y-sr-only">{{ 'open_menu' | t }}</span>

      {# <menu-icon :isOpen="menuIsOpen" /> #}
    </button>
  </header>
