@import './index.css';

.title,
.subtitle {
  margin-bottom: var(--spacing-double);
  padding-bottom: var(--spacing-default);
  border-bottom: 1px solid #c5c5c5;
}

.colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.color {
  margin-right: var(--spacing-default);
  text-align: center;
}

.color-box {
  width: 140px;
  height: 140px;
  box-shadow: 1px 1px 10px #c5c5c5;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: var(--spacing-half);
}

.headings > * {
  margin-bottom: var(--spacing-default);
}

.links-demo p {
  margin-bottom: .5rem;
}

.icons-demo li {
  display: flex;
  margin-bottom: var(--spacing-default);
}
 .icons-demo p {
  margin: 0;
}
 .icons-demo img {
  margin-left: var(--spacing-default);
}
 .icons-demo .s-64 {
  height: 64px;
  width: 64px;
}
 .icons-demo .s-120 {
  height: 120px;
  width: 120px;
}
 .icons-demo .s-144 {
  height: 144px;
  width: 144px;
}
 .icons-demo .s-152 {
  height: 152px;
  width: 152px;
}
 .icons-demo .s-192 {
  height: 192px;
  width: 192px;
}
 .icons-demo .s-384 {
  height: 384px;
  width: 384px;
}
 .icons-demo .s-192 {
  height: 192px;
  width: 192px;
}