@import './variables.css';

.button {
  padding: 0 var(--spacing-default);
  font-size: var(--font-size-default);
  color: var(--action-color);
  text-transform: uppercase;
  line-height: 40px;
  height: 40px;
  background-color: var(--background-color);
  box-shadow: var(--shadow-small-grey);
  border: none;
  border-radius: 3px;
}

.button--primary {
  color: var(--background-color);
  background-color: var(--action-color);
}

.button--pending::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 1.5em;
  height: 1.5em;
  margin-top: -.25em;
  margin-left: -.25em;
  animation: button__spinner 2s linear infinite;
  background-image: url('/images/spinner.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.button:hover,
.button:focus {
  cursor: pointer;
  opacity: .6;
  text-decoration: none;
  border: none;
}

@keyframes button__spinner {
  0% { transform: rotate(0deg) }
100% { transform: rotate(360deg) }
}
