[type="text"],
[type="email"],
[type="password"],
textarea {
  padding: var(--spacing-half) var(--spacing-default);;
  border-radius: var(--border-radius-small);
  border: 1px solid var(--text-color);
}

[type="text"]:focus,
[type="email"]:focus,
[type="password"]:focus {
  border-color: var(--action-color);
  outline: none;
}

::-webkit-input-placeholder {
  color: var(--text-light-color);
}

::-moz-placeholder {
  color: var(--text-light-color);
}

:-ms-input-placeholder {
  color: var(--text-light-color);
}
