label {
  cursor: pointer;
}

[type="text"],
[type="email"],
[type="password"] {
  padding-top: var(--spacing-half);
  padding-bottom: var(--spacing-half);
  padding-left: var(--spacing-default);
  padding-right: var(--spacing-default);
  border-radius: var(--border-radius-small);
  border: 1px solid var(--text-color);
}

[type="text"]:focus,
[type="email"]:focus,
[type="password"]:focus {
  border-color: var(--action-color);
  outline: none;
}

::-webkit-input-placeholder {
  color: var(--text-light-color);
}

:focus::-webkit-input-placeholder {
  color: var(--action-color);
}

::-moz-placeholder {
  color: var(--text-light-color);
}

:focus::-moz-placeholder {
  color: var(--action-color);
}

:-ms-input-placeholder {
  color: var(--text-light-color);
}

:focus:-ms-input-placeholder {
  color: var(--action-color);
}
