*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  box-sizing: border-box;
}

figure {
  margin: 0 auto;
}

figcaption {
  margin-top: var(--spacing-half);
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

button:hover {
  cursor: pointer;
}