html {
  font-family: 'system', sans-serif;
}

a {
  font-size: 1rem;
  color: var(--action-color);
  text-decoration: none;
}

a:focus,
a:hover {
  border-bottom: 1px solid var(--action-color);
}

p {
  font-size: 1rem;
  margin-bottom: 1rem;
}