.main-content {
  display: flex;
  justify-content: center;
  max-width: 920px;
  padding: 0 var(--spacing-default);
}

.main-content__sidebar {
  display: none;
}

@media screen and (min-width: 880px) {
  .main-content {
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    padding: 0 var(--spacing-default);
  }

  .main-content__sidebar {
    display: inline-block;
    position: sticky;
    top: 10px;
    flex-grow: 1;
    max-width: 300px;
    margin-right: var(--spacing-double);
    margin-bottom: 0;
  }

  .main-content__content {
    max-width: 600px;
  }
}